
.container {

  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  gap: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  color: rgb(233, 231, 237);
  background-color: #035273;
  align-items: center;
  flex-wrap: wrap;
  
}

.container1{
  display: flex;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  padding-top:  0px;
  padding-left: 70px;
  padding-right: 40px;
  justify-content: space-between;
  gap: 40px;
  color: rgb(233, 231, 237);
  background-color: #035273;
  align-items: center;
}

.navText{
  font-size: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.homeImg {
  padding-bottom: 0px;
  border-radius: 8px;
  transition: 0.2s;
}
.homeImg:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.menuButton {
  display:none;
  
}

.open {    
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 920px) {
 
    .container{
      display:flex;
      width: 200%;
      background-color: #035273;
      padding: 20px 40px;
      flex-direction: row;
      gap: 20px;
    }
    
    .container1 {
      width:200px;
      display: flex;
      font-size: 20px;
      padding: 0px 0;
      gap: 15px;
      background-color: #035273;
      
    }
    .menuButton {
      display: block;
      font-size: 30px;
      
    }
  
    .navigation {
      display: none;
      flex-direction: column;
      gap: 18px;
      background-color: #035273;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      padding: 15px 20px;
    }
  
    .navigation.open {
      display: flex;
    }
  }