
.container {
  display: flex;
  padding-top:  0px;
  padding-left: 70px;
  padding-right: 40px;
  justify-content: space-between;
  gap: 40px;
  color: rgb(233, 231, 237);
  background-color: #035273;
  align-items: center;
}

.container1{
  display: flex;
  font-size: 20px;
  padding-top:  0px;
  padding-left: 70px;
  padding-right: 40px;
  justify-content: space-between;
  gap: 40px;
  color: rgb(233, 231, 237);
  background-color: #035273;
  align-items: center;
}

.navText{
  font-size: 20px;
}

.navigation {
  display: flex; 
  align-items:center;
  gap: 30px;
}

.homeImg {
  padding-bottom: 0px;
  border-radius: 8px;
  transition: 0.2s;
}
.homeImg:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.hamburger {
  display: none; /* desktop hidden */
  font-size: 45px;
  cursor: pointer;
  color: white;
  z-index: 10;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
 .container {
  display: flex;
  width: 200%;
  padding-left: 20px;
  gap: 2px;
  
  
 }
 .container1 {
  display: flex;
  padding-left: 1px;
  padding-top: 0px;
  padding-right: 1px;
  gap: 2px;
 }
 
 .navigation {display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #035273;
  width: 100%;
  padding: 20px;
  
 
  
 }
 .navigation.active {
  display: flex;
 
 }

 .hamburger {
  display:flex;


 }
 
}
