.searchContainer {
    padding: 2rem;
  }
  
  .searchInputs {
    margin-bottom: 1rem;
  }
  
  .input {
    margin-right: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .productCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
  }
  
  .productCard img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .nutriscore {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }
  
  .nutriscoreA { background-color: #4CAF50; }
  .nutriscoreB { background-color: #8BC34A; }
  .nutriscoreC { background-color: #FFEB3B; color: #000; }
  .nutriscoreD { background-color: #FF9800; }
  .nutriscoreE { background-color: #F44336; }

  
  .expirationRow {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* allows line break if screen is small */
    gap: 0.5rem;
  }
  
  .quantityRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .backLink {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #0070f3;
    font-weight: bold;
  }
  
  .backLink:hover {
    text-decoration: underline;
  }
  
  