.footer {
    background-color: rgb(218, 162, 19);
    display: flex;
    flex: 1;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    
  
  }
  

  @media screen and (min-width: 320px)  {
    .footer{
      width: 100%;
      height: 4rem;
     
      
    }
  }