
.container {
    padding: 0 2rem;
  }

.button {
    padding:1rem 2rem;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem,
  }