/* expiring page CSS */

.container {
  width: 100%;
    padding: 0 0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.mainExpiring {
    background-color: #fff;
    padding: 0rem;
    padding-top: 20px;
}

.logoHead {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 3px;
  background-color: white;
}

  .logo2 {
    display: flex;
    width:100px; 
  }

  .logoHead h2{
    font-size: 3rem;
  }

  .spaceBar {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 1rem;
    background-color: #0388Ac;
    opacity: 30%
  }


.expiringGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 350px));
  width: 100%;
  gap: 1rem;
  justify-content: center;
  margin: 1rem auto;
  max-width: 1200px;
  background-color: #fff;
  }


  .expiringCard {
    background-color:rgb(225, 225, 234);
    width: 350px;
    border: 1px solid #697091;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.expiringCard h3 {
  font-size: 1rem;
  
}

.expiringCard h5 {
  font-size: 0.8rem;
  color: black;
  margin: 6px;
}

.expiringCard h6 {
  font-size: 0.8rem;
  margin: 6px;
  
  
}

.expiringCard p {
  font-size: 0.6rem;
  margin: 5px
}


.expiringImage {
  height: 37vh;
  border-radius: 4px;
  margin-bottom: 0.5rem; 
}
.styleDate {
  
  padding: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  

}

.viewButton {
  color: white;
  background-color: #0388Ac;
  padding: 4px
}


@media screen and (min-device-width: 320px) and (max-device-width: 780px){

  .logoHead {
    display:block;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .logo2 {
    display: block;
    margin: 0 auto;
  }

  .logoHead h2 {
    font-size: 2.7rem;
    margin: 20px;
  }

  .mainExpiring {
    width: 200%;
  }
  .expiringImage {
    height: 35vh;
  }

  .spaceBar {
    max-width: 150%;
  }

}
@media screen and (min-device-width: 780px) and (max-width: 1200px) {
  .expiringGrid {
    grid-template-columns: repeat(250px, 1fr); /* 2 columns */
    max-width: 800px;
  }

  .expiringImage {
    height: 30vh;
  }
}




