.container {
  width: 100%;
    padding: 0 0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.mainExpiring {
    background-color: white;
    padding: 2rem;
}

.logoHead {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    
  }

  .logo2 {display: flex;
    width:100px;
    padding-top:  20px;
    padding-bottom: 20px;
    margin-right: 10px;
   
  }

.expiringGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 350px));
  width: 100%;
  gap: 1rem;
  justify-content: center;
  margin: 1rem auto;
  max-width: 1200px;
  background-color: #F44336;
  }


  .expiringCard {
    background-color:rgb(225, 225, 234);
    width: 350px;
    border: 1px solid #697091;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.expiringCard h3 {
  font-size: 1rem;
  color: rgb(34, 158, 77);
}

.expiringCard h5 {
  font-size: 0.8rem;
  color: black;
  margin: 6px;
}

.expiringCard h6 {
  font-size: 0.8rem;
  margin: 6px;
  
  
}

.expiringCard p {
  font-size: 0.6rem;
  margin: 5px
}


.expiringImage {
  height: 30vh;
  border-radius: 4px;
  margin-bottom: 0.5rem; 
}
.styleDate {
  background-color: #faf4f3;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 960px){
  .mainExpiring {
    width: 100%;
  }
  .expiringImage {
    height: 35vh;
  }
}
@media (max-width: 900px) {
  .expiringGrid {
    grid-template-columns: repeat(250px, 1fr); /* 2 columns */
    max-width: 800px;
    gap: 1px;
  }
}




