html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.mainHome {
  content: '';
  /*position: relative;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/soup1.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
