/*savedFoods css*/

.container {
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainSaved {
    background-color: white;
    
}

.savedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 0.5fr));
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }

.savedCard {
    background-color:rgb(225, 225, 234);
    width: 100%;
    border: 1px solid #697091;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.savedImage {
    width: 50%;
    border-radius: 4px;
    margin-bottom: 0.5rem; 
}

.removeButton {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #F44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.savedCard.highlight {
    background-color: #ffff99; /* bright yellow */
    transition: background-color 0.5s ease;
  }